<rz-content #content1 container="main">
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #closeLabel [style]="{'fontWeight':'bold'}" text="Item não disponível." *ngIf="!canEdit">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #closeButton buttonStyle="secondary" [style]="{'marginBottom':'20px'}" text="Fechar" *ngIf="!canEdit" (click)="closeButtonClick($event)">
      </rz-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 cancelText="Cancelar" [data]="participante" deleteText="Excluir" submitText="Salvar" *ngIf="canEdit" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field [maxLength]="100" property="Nome" [required]="true" requiredText="is required" title="Nome" type="string">
        </rz-string-form-field>
        <rz-string-form-field [maxLength]="20" property="CPF" [required]="true" requiredText="is required" title="CPF" type="string">
        </rz-string-form-field>
        <rz-string-form-field [maxLength]="150" property="Email" [required]="false" requiredText="is required" title="E-mail" type="string">
        </rz-string-form-field>
        <rz-string-form-field [maxLength]="20" property="Banco" [required]="false" requiredText="is required" title="Banco" type="string">
        </rz-string-form-field>
        <rz-string-form-field [maxLength]="20" property="Agencia" [required]="false" requiredText="is required" title="Agencia" type="string">
        </rz-string-form-field>
        <rz-string-form-field [maxLength]="20" property="Conta" [required]="false" requiredText="is required" title="Conta" type="string">
        </rz-string-form-field>
        <rz-lookup-form-field [data]="getUsersResult" [disabled]="true" property="Usuario" [required]="false" requiredText="is required" textProperty="UserName" title="Usuario" valueProperty="Id" type="lookup">
        </rz-lookup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
