<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-heading #pageTitle size="H1" text="Reembolsos de Despesa">
      </rz-heading>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <rz-button #button3 icon="note_add" text="Novo" *ngIf="security?.user?.isInRole('Colaborador') == false" (click)="button3Click($event)">
      </rz-button>
      <rz-button #button2 buttonStyle="secondary" icon="check_box" text="Gerar Reembolsos" (click)="button2Click($event)">
      </rz-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Novo" [allowAdd]="false" [allowDelete]="security?.user?.isInRole('Colaborador') == false" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getReembolsosDespesasListsCount" [data]="getReembolsosDespesasListsResult" emptyText="No records to display." [pageSize]="10" (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="Reuniao" title="Reunião" type="string">
        </rz-grid-column>
        <rz-grid-column filterable="not {{security?.user?.isInRole('Colaborador')}}" property="Colaborador" [sortable]="true" title="Colaborador" type="string">
        </rz-grid-column>
        <rz-grid-column property="Responsavel" title="Responsável" type="string">
        </rz-grid-column>
        <rz-grid-column property="Status" title="Status" type="string">
        </rz-grid-column>
        <rz-grid-column [filterable]="false" [sortable]="false" width="120px" type="string">
          <ng-template let-data gridColumnTemplate>
            <rz-button #button0 buttonStyle="warning" icon="change_history" size="sm" text="Pendências" (click)="button0Click($event, data)">
            </rz-button>
          </ng-template>
        </rz-grid-column>
        <rz-grid-column [filterable]="false" [sortable]="false" width="110px">
          <ng-template let-data gridColumnTemplate>
            <rz-button #button1 buttonStyle="info" icon="receipt" size="sm" text="Relatório" (click)="button1Click($event, data)">
            </rz-button>
          </ng-template>
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
