<rz-content #content1 container="main">
  <rz-tabs #tabs0>
    <rz-tabs-item [selected]="false" text="Dados do Reembolso">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-6">
            <rz-label #label1 component="Reuniao" [style]="{'width':'100%'}" text="Reunião">
            </rz-label>
            <rz-dropdown-datagrid #reuniao [count]="getReuniosCount" [data]="getReuniosResult" [disabled]="true" [pageSize]="getReuniosPageSize" placeholder="Choose Reunio" [style]="{'display':'block','width':'100%'}" textProperty="Nome" [(ngModel)]="reembolsosdespesa && reembolsosdespesa.Reuniao" valueProperty="Reuniao" name="Reuniao" (loadData)="ReuniaoLoadData($event)">
            </rz-dropdown-datagrid>
            <rz-required-validator #reuniaoRequiredValidator [component]="reuniao" [style]="{'position':'absolute'}" text="Reuniao is required">
            </rz-required-validator>
          </div>
          <div class="col-md-6">
            <rz-label #label7 component="Colaborador" [style]="{'width':'100%'}" text="Colaborador">
            </rz-label>
            <rz-dropdown-datagrid #colaborador [count]="getParticipantesCount" [data]="getParticipantesResult" [disabled]="true" [pageSize]="getParticipantesPageSize" placeholder="Choose Participante" [style]="{'display':'block','width':'100%'}" textProperty="Nome" [(ngModel)]="reembolsosdespesa && reembolsosdespesa.Colaborador" valueProperty="Participante1" name="Colaborador" (loadData)="ColaboradorLoadData($event)">
            </rz-dropdown-datagrid>
            <rz-required-validator #colaboradorRequiredValidator [component]="colaborador" [style]="{'position':'absolute'}" text="Colaborador is required">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-6">
            <rz-label #label2 component="DataSaida" [style]="{'width':'100%'}" text="Data Saida">
            </rz-label>
            <rz-datepicker #dataSaida dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [(ngModel)]="reembolsosdespesa && reembolsosdespesa.DataSaida" name="DataSaida">
            </rz-datepicker>
          </div>
          <div class="col-md-6">
            <rz-label #label8 component="DataRetorno" [style]="{'width':'100%'}" text="Data Retorno">
            </rz-label>
            <rz-datepicker #dataRetorno dateFormat="dd/mm/yy" [style]="{'width':'100%'}" [(ngModel)]="reembolsosdespesa && reembolsosdespesa.DataRetorno" name="DataRetorno">
            </rz-datepicker>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-6">
            <rz-label #label3 component="Responsavel" [style]="{'width':'100%'}" text="Responsável">
            </rz-label>
            <rz-dropdown-datagrid #responsavel [data]="getUsersResult" [disabled]="true" [style]="{'display':'block','width':'100%'}" textProperty="UserName" [(ngModel)]="reembolsosdespesa && reembolsosdespesa.Responsavel" valueProperty="Id" name="Responsavel">
            </rz-dropdown-datagrid>
            <rz-required-validator #responsavelRequiredValidator [component]="responsavel" [style]="{'position':'absolute'}" text="Responsavel is required">
            </rz-required-validator>
          </div>
          <div class="col-md-6">
            <rz-label #label9 component="Status" [style]="{'width':'82.5px'}" text="Status">
            </rz-label>
            <rz-dropdown #status [data]="getStatusReembolsosDespesasResult" placeholder="Choose StatusReembolsosDespesa" [style]="{'display':'block','width':'100%'}" textProperty="Nome" [(ngModel)]="reembolsosdespesa && reembolsosdespesa.Status" valueProperty="StatusReembolsoDespesa" name="Status">
            </rz-dropdown>
            <rz-required-validator #statusRequiredValidator [component]="status" [style]="{'position':'absolute'}" text="Status is required">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-6">
            <rz-label #label4 component="ValorGasto" [style]="{'width':'100%'}" text="Valor Gasto">
            </rz-label>
            <rz-numeric #valorGasto [disabled]="true" maxText="cannot be more than" minText="cannot be less than" [style]="{'width':'100%'}" [(ngModel)]="reembolsosdespesa && reembolsosdespesa.ValorGasto" name="ValorGasto">
            </rz-numeric>
          </div>
          <div class="col-md-6">
            <rz-label #label10 component="ValorConcedido" [style]="{'width':'100%'}" text="Valor Concedido">
            </rz-label>
            <rz-numeric #valorConcedido [disabled]="true" maxText="cannot be more than" minText="cannot be less than" [style]="{'width':'100%'}" [(ngModel)]="reembolsosdespesa && reembolsosdespesa.ValorConcedido" name="ValorConcedido">
            </rz-numeric>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-6">
            <rz-label #label5 component="Banco" [style]="{'width':'100%'}" text="Banco">
            </rz-label>
            <rz-textbox #banco [maxLength]="20" [style]="{'width':'100%'}" [(ngModel)]="reembolsosdespesa && reembolsosdespesa.Banco" name="Banco">
            </rz-textbox>
          </div>
          <div class="col-md-6">
            <rz-label #label11 component="Agencia" [style]="{'width':'100%'}" text="Agência">
            </rz-label>
            <rz-textbox #agencia [maxLength]="20" [style]="{'width':'100%'}" [(ngModel)]="reembolsosdespesa && reembolsosdespesa.Agencia" name="Agencia">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-6">
            <rz-label #label6 component="Conta" [style]="{'width':'100%'}" text="Conta">
            </rz-label>
            <rz-textbox #conta [maxLength]="20" [style]="{'width':'100%'}" [(ngModel)]="reembolsosdespesa && reembolsosdespesa.Conta" name="Conta">
            </rz-textbox>
          </div>
          <div class="col-md-6  d-flex align-items-center justify-content-around" [ngStyle]="{'paddingTop':'16px'}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" [ngStyle]="{'textAlign':'center'}">
            <rz-button #saveButton buttonStyle="primary" buttonType="submit" icon="save" [style]="{'paddingRight':'22px'}" text="Salvar">
            </rz-button>
            <rz-button #button0 buttonStyle="warning" icon="change_history" size="md" [style]="{'paddingRight':'22px'}" text="Pendências" (click)="button0Click($event)">
            </rz-button>
            <rz-button #button1 buttonStyle="info" icon="receipt" size="md" text="Relatório" (click)="button1Click($event)">
            </rz-button>
            <rz-button #cancelButton buttonStyle="light" text="Cancelar" (click)="CancelButtonClick($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </rz-tabs-item>
    <rz-tabs-item [selected]="true" text="Itens do Reembolso">
      <rz-grid #grid1 addText="Novo" [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowPaging]="true" [allowSorting]="true" [count]="getItensReembolsosDespesasListsCount" [data]="getItensReembolsosDespesasListsResult" [pageSize]="10" (add)="grid1Add($event)" (delete)="grid1Delete($event)" (loadData)="grid1LoadData($event)" (rowSelect)="grid1RowSelect($event)">
        <rz-grid-column property="TipoNome" title="Tipo" type="string">
          <ng-template gridColumnFooterTemplate>
          <b>Total</b>
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="decimal" property="ValorGasto" title="Valor Gasto" type="number">
          <ng-template let-data gridColumnTemplate>
          {{data?.ValorGasto | currency}}
          </ng-template>
          <ng-template gridColumnFooterTemplate>
          <b>{{TotalGasto | currency}}</b>
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="decimal" property="ValorConcedido" title="Valor Concedido" type="number">
          <ng-template let-data gridColumnTemplate>
          {{data?.ValorConcedido | currency}}
          </ng-template>
          <ng-template gridColumnFooterTemplate>
          <b>{{TotalConcedido | currency}}</b>
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="date-time" property="Data" title="Data" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.Data | utcDate:'dd/MM/yyyy'}}
          </ng-template>
        </rz-grid-column>
      </rz-grid>
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
