<rz-content #content1 container="main">
  <rz-tabs #tabs0>
    <rz-tabs-item [selected]="true" text="Dados do Gerais">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3" [ngStyle]="{'visibility':'hidden'}">
            <rz-label #label1 component="ReembolsoDespesa" [style]="{'width':'100%'}" text="Reembolso Despesa">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown-datagrid #reembolsoDespesa [count]="getReembolsosDespesasCount" [data]="getReembolsosDespesasResult" [disabled]="true" [pageSize]="getReembolsosDespesasPageSize" placeholder="Selecione" [style]="{'display':'block','width':'100%'}" textProperty="Banco" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.ReembolsoDespesa" valueProperty="ReembolsoDespesa" *ngIf="false" name="ReembolsoDespesa" (loadData)="ReembolsoDespesaLoadData($event)">
            </rz-dropdown-datagrid>
            <rz-required-validator #reembolsoDespesaRequiredValidator [component]="reembolsoDespesa" [style]="{'position':'absolute'}" text="ReembolsoDespesa is required">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label12 component="Tipo" [style]="{'width':'100%'}" text="Tipo">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown-datagrid #tipo [count]="getTiposItensReembolsosDespesasCount" [data]="getTiposItensReembolsosDespesasResult" [disabled]="true" [pageSize]="getTiposItensReembolsosDespesasPageSize" placeholder="Selecione" [style]="{'display':'block','width':'100%'}" textProperty="Nome" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Tipo" valueProperty="TipoItemReembolsoDespesa" name="Tipo" (loadData)="TipoLoadData($event)">
            </rz-dropdown-datagrid>
            <rz-required-validator #tipoRequiredValidator [component]="tipo" [style]="{'position':'absolute'}" text="Tipo is required">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label2 component="Data" [style]="{'width':'100%'}" text="Data">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-datepicker #data dateFormat="dd/mm/yy" [disabled]="dataEnabled == false" [style]="{'display':'block','width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Data" name="Data">
            </rz-datepicker>
            <rz-required-validator #dataRequiredValidator [component]="data" [style]="{'position':'absolute'}" text="Data is required">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label3 component="Origem" [style]="{'width':'100%'}" text="Origem" *ngIf="origemVisible">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #origem [disabled]="origemEnabled == false" [maxLength]="50" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Origem" *ngIf="origemVisible" name="Origem">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label4 component="Destino" [style]="{'width':'100%'}" text="Destino" *ngIf="destinoVisible">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #destino [disabled]="destinoEnabled == false" [maxLength]="50" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Destino" *ngIf="destinoVisible" name="Destino">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label5 component="Entrada" [style]="{'width':'100%'}" text="Entrada" *ngIf="entradaVisible">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-datepicker #entrada [disabled]="entradaEnabled == false" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Entrada" *ngIf="entradaVisible" name="Entrada">
            </rz-datepicker>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label6 component="Saida" [style]="{'width':'100%'}" text="Saida" *ngIf="saidaVisible">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-datepicker #saida [disabled]="saidaEnabled == false" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Saida" *ngIf="saidaVisible" name="Saida">
            </rz-datepicker>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label7 component="Referencia" [style]="{'width':'100%'}" text="Referência" *ngIf="referenciaVisible">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #referencia [disabled]="referenciaEnabled == false" [maxLength]="80" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Referencia" *ngIf="referenciaVisible" name="Referencia">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label8 component="Empresa" [style]="{'width':'100%'}" text="Empresa">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #empresa [disabled]="empresaEnabled == false" [maxLength]="80" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Empresa" name="Empresa">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'height':'45px','marginBottom':'1rem'}" class="row">
          <div class="col-md-3" [ngStyle]="{'height':'23px','paddingLeft':'15px','paddingRight':'0px'}">
            <rz-label #label9 component="ValorGasto" [style]="{'width':'122.25px'}" text="Valor Gasto">
            </rz-label>
          </div>
          <div class="col-md-9" [ngStyle]="{'height':'35px','paddingLeft':'15px','paddingRight':'15px'}">
            <rz-numeric #valorGasto [disabled]="valorGastoEnabled == false" maxText="cannot be more than" minText="cannot be less than" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.ValorGasto" name="ValorGasto">
            </rz-numeric>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #leabl10 component="ValorConcedido" [style]="{'width':'184.75px'}" text="Valor Concedido">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-numeric #valorConcedido [disabled]="valorConcedidoEnabled == false" maxText="cannot be more than" minText="cannot be less than" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.ValorConcedido" name="ValorConcedido">
            </rz-numeric>
          </div>
        </div>
        <div [ngStyle]="{'paddingTop':'19px'}" class="row">
          <div class="col offset-sm-3">
            <rz-button #saveButton buttonStyle="primary" buttonType="submit" icon="save" text="Salvar">
            </rz-button>
            <rz-button #cancelbutton buttonStyle="light" text="Cancelar" (click)="CancelbuttonClick($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </rz-tabs-item>
    <rz-tabs-item [selected]="false" text="Comprovantes">
      <rz-grid #grid0 addText="Add" [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowPaging]="true" [allowSorting]="true" [count]="getComprovantesCount" [data]="getComprovantesResult" emptyText="No records to display." [pageSize]="10" (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)">
        <rz-grid-column format="base64" property="Anexo" title="Anexo" type="string">
          <ng-template let-data gridColumnTemplate>
          <a [download]="data.Nome" [href]="getSantizeUrl(data.Anexo)">Download</a>
          </ng-template>
        </rz-grid-column>
        <rz-grid-column property="Nome" title="Nome" type="string">
        </rz-grid-column>
        <rz-grid-column [filterable]="false" property="Comprovante1" [sortable]="false" title="Comprovante 1" *ngIf="false" type="integer">
        </rz-grid-column>
      </rz-grid>
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
