<rz-content #content1 container="main">
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #closeLabel [style]="{'fontWeight':'bold'}" text="Item no longer available." *ngIf="!canEdit">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #closeButton buttonStyle="secondary" [style]="{'marginBottom':'20px'}" text="Close" *ngIf="!canEdit" (click)="closeButtonClick($event)">
      </rz-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <rz-template-form #form0 (submit)="form0Submit($event)">
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3" [ngStyle]="{'visibility':'hidden'}">
            <rz-label #label2 component="ReembolsoDespesa" [style]="{'width':'100%'}" text="Reembolso Despesa">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown-datagrid #reembolsoDespesa [count]="getReembolsosDespesasCount" [data]="getReembolsosDespesasResult" [disabled]="true" [pageSize]="getReembolsosDespesasPageSize" placeholder="Selecione" [style]="{'display':'block','width':'100%'}" textProperty="Banco" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.ReembolsoDespesa" valueProperty="ReembolsoDespesa" *ngIf="false" name="ReembolsoDespesa" (loadData)="ReembolsoDespesaLoadData($event)">
            </rz-dropdown-datagrid>
            <rz-required-validator #reembolsoDespesaRequiredValidator [component]="reembolsoDespesa" [style]="{'position':'absolute'}" text="ReembolsoDespesa is required">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label3 component="Tipo" [style]="{'width':'100%'}" text="Tipo">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-dropdown-datagrid #tipo [count]="getTiposItensReembolsosDespesasCount" [data]="getTiposItensReembolsosDespesasResult" [disabled]="true" [pageSize]="getTiposItensReembolsosDespesasPageSize" placeholder="Selecione" [style]="{'display':'block','width':'100%'}" textProperty="Nome" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Tipo" valueProperty="TipoItemReembolsoDespesa" name="Tipo" (loadData)="TipoLoadData($event)">
            </rz-dropdown-datagrid>
            <rz-required-validator #tipoRequiredValidator [component]="tipo" [style]="{'position':'absolute'}" text="Tipo is required">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label4 component="Data" [style]="{'width':'100%'}" text="Data">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-datepicker #data [style]="{'display':'block','width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Data" name="Data">
            </rz-datepicker>
            <rz-required-validator #dataRequiredValidator [component]="data" [style]="{'position':'absolute'}" text="Data is required">
            </rz-required-validator>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label5 component="Origem" [style]="{'width':'100%'}" text="Origem">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #origem [maxLength]="50" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Origem" name="Origem">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label6 component="Destino" [style]="{'width':'100%'}" text="Destino">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #destino [maxLength]="50" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Destino" name="Destino">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label7 component="Entrada" [style]="{'width':'100%'}" text="Entrada">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-datepicker #entrada [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Entrada" name="Entrada">
            </rz-datepicker>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label8 component="Saida" [style]="{'width':'100%'}" text="Saida">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-datepicker #saida [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Saida" name="Saida">
            </rz-datepicker>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label9 component="Referencia" [style]="{'width':'100%'}" text="Referência">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #referencia [maxLength]="80" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Referencia" name="Referencia">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label10 component="Empresa" [style]="{'width':'100%'}" text="Empresa">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-textbox #empresa [maxLength]="80" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.Empresa" name="Empresa">
            </rz-textbox>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label11 component="ValorGasto" [style]="{'width':'100%'}" text="Valor Gasto">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-numeric #valorGasto maxText="cannot be more than" minText="cannot be less than" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.ValorGasto" name="ValorGasto">
            </rz-numeric>
          </div>
        </div>
        <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
          <div class="col-md-3">
            <rz-label #label12 component="ValorConcedido" [style]="{'width':'100%'}" text="Valor Concedido">
            </rz-label>
          </div>
          <div class="col-md-9">
            <rz-numeric #valorConcedido maxText="cannot be more than" minText="cannot be less than" [style]="{'width':'100%'}" [(ngModel)]="itensreembolsosdespesa && itensreembolsosdespesa.ValorConcedido" name="ValorConcedido">
            </rz-numeric>
          </div>
        </div>
        <rz-label #label0 [style]="{'fontSize':'18px','fontWeight':'bold','height':'34px','paddingBottom':'19px','paddingLeft':'15px'}" text="Comprovantes">
        </rz-label>
        <rz-grid #grid0 addText="Add" [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowPaging]="true" [allowSorting]="true" [count]="getComprovantesCount" [data]="getComprovantesResult" emptyText="No records to display." [pageSize]="10" (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)">
          <rz-grid-column format="base64" property="Anexo" title="Anexo" type="string">
            <ng-template let-data gridColumnTemplate>
            <a [download]="data.Nome" [href]="getSantizeUrl(data.Anexo)">Download</a>
            </ng-template>
          </rz-grid-column>
          <rz-grid-column property="Nome" title="Nome" type="string">
          </rz-grid-column>
          <rz-grid-column [filterable]="false" property="Comprovante1" [sortable]="false" title="Comprovante 1" *ngIf="false" type="integer">
          </rz-grid-column>
        </rz-grid>
        <div [ngStyle]="{'paddingTop':'19px'}" class="row">
          <div class="col offset-sm-3">
            <rz-button #button2 buttonStyle="primary" buttonType="submit" icon="save" text="Salvar">
            </rz-button>
            <rz-button #button3 buttonStyle="light" text="Cancelar" (click)="button3Click($event)">
            </rz-button>
          </div>
        </div>
      </rz-template-form>
    </div>
  </div>
</rz-content>
