<rz-content #content1 container="main">
  <rz-template-form #form0 (submit)="form0Submit($event)">
    <div [ngStyle]="{'height':'184px','marginBottom':'1rem'}" class="row">
      <div class="col-md-9" [ngStyle]="{'height':'153px'}">
        <rz-label #label1 component="Observacoes" [style]="{'width':'100%'}" text="Pendências">
        </rz-label>
        <rz-textarea #observacoes [cols]="20" [disabled]="observacoesDisabled" [rows]="5" [style]="{'height':'149px','width':'100%'}" [(ngModel)]="reembolsosdespesas && reembolsosdespesas.Observacoes" name="Observacoes">
        </rz-textarea>
      </div>
    </div>
    <div [ngStyle]="{'marginBottom':'1rem'}" class="row">
      <div class="col-md-9">
        <rz-label #label2 component="Respostas" [style]="{'width':'100%'}" text="Respostas do Colaborador">
        </rz-label>
        <rz-textarea #respostas [cols]="20" [disabled]="respostasDisabled" [rows]="5" [style]="{'width':'100%'}" [(ngModel)]="reembolsosdespesas && reembolsosdespesas.Respostas" name="Respostas">
        </rz-textarea>
      </div>
    </div>
    <div class="row">
      <div class="col offset-sm-3">
        <rz-button #button1 buttonStyle="primary" buttonType="submit" icon="save" text="Salvar">
        </rz-button>
        <rz-button #button2 buttonStyle="light" text="Cancelar" (click)="button2Click($event)">
        </rz-button>
      </div>
    </div>
  </rz-template-form>
</rz-content>
