<rz-content #content1 container="main">
  <rz-ssrsviewer #ssrsviewer0 reportName="plnd-r/ReembolsosDespesas" reportServer="http://cv2.corp.casavillar.com.br/reportserver" localServer="http://localhost:5000" [style]="{'height':'447px'}" [useProxy]="true">
    <rz-ssrsviewer-parameter parameterName="Reuniao" [value]="parameters?.Reuniao">
    </rz-ssrsviewer-parameter>
    <rz-ssrsviewer-parameter parameterName="ReembolsoDespesa" [value]="parameters?.ReembolsoDespesa">
    </rz-ssrsviewer-parameter>
  </rz-ssrsviewer>
</rz-content>
